.header-logo {
    animation: App-logo-spin infinite 20s linear;
    width: 100%;
    height: 80px;
    float: left;
}

.header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}